<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Janus</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a target="_blank" href="https://groups.google.com/forum/#!forum/meetecho-janus">Community</a></li>
        </ul>
        <div class="navbar-header navbar-right">
            <ul class="nav navbar-nav">
                <li><a target="_blank" href="http://www.meetecho.com" class="navbar-link meetecho-logo"><img
                        src="meetecho-logo.png"/></a></li>
            </ul>
        </div>
    </div>
</div>
